<div>
    
    <h1>Education</h1>
<!-- 
    <h4>May 2019</h4>
    <h4>Mumbai - Maharashtra</h4>
    <h4>Mumbai University, PVPP COE</h4>
    <h4>Bachelors Of Engineering (IT)</h4>
    <h3>B.E Project - Object Detection and Tracking in Video using Convolutional Neural Networks</h3>
    <ul>
        <li>Objective was to create an application that can detect general Objects (Cat, Dog etc) in an Image by
            training
            custom made neural net on various datasets and providing with almost accurate results.</li>
        <li>Extracurricular Activity - Public Speaking</li>
    </ul>

    <h4>February 2015</h4>
    <h4>Mumbai - Maharashtra</h4>
    <h4>Maharashtra Board, Bunts Sangha's S.M. Shetty College of Science – 71 %</h4>

    <h4>March 2013</h4>
    <h4>Mumbai - Maharashtra</h4>
    <h4>Maharashtra Board,</h4>
    <h4>Gopal Sharma Memorial School – 84%</h4> -->
    <pre>
        May 2019
        Mumbai - Maharashtra                                   Mumbai University, 
        PVPP COE  
        Bachelors Of Engineering (IT)
        B.E Project - Object Detection and Tracking in Video using Convolutional Neural Networks
        •    Objective was to create an application that can detect general Objects (Cat, Dog etc) in an Image 
             by training custom made neural net on various datasets and providing with almost accurate results. 
        •    Extracurricular Activity - Public Speaking 
        
        February 2015
        Mumbai - Maharashtra                                   Maharashtra Board, 
        Bunts Sangha's S.M. Shetty College of Science – 71 %
        
        March 2013
        Mumbai - Maharashtra                                   Maharashtra Board, 
        Gopal Sharma Memorial School – 84%</pre>
</div>