<div>
    <h1>Projects</h1>

    <h3> ALGORISYS Tech pvt Lim – Aug 2019 – Present</h3>
    <h4>Mumbai – Maharashtra</h4>

    <h3>Project – BI Automation using Microsoft Power BI (Client - HUL)</h3>
    <ul>
        <li>Developing compelling and interactive analysis reports and dashboards for Hindustan Unilever Limited,
            Khamgaon
            using advanced DAX.</li>
        <li>Developed profit analysis reports and dashboards by products and customers.</li>
        <li>Responsible for tracking the overall status of those projects</li>
        <li>Visualization of Factory data to be viewed by the mangers and the Factory Manager.</li>
    </ul>
    <h3>Project – Financial Report development using IBM TM1 (Client - Crompton)</h3>
    <ul>
        <li>Developing Financial reports like Analyst Report, Regional Expenses, Varience Reports</li>
        <li>Created respective reports from existing cube using IBM TM1.</li>
        <li>Created cubes, writing business logic in rules and respective process in TM1</li>
    </ul>

</div>